{% extends 'header.html' %}
{% load static %}

{% block content %}
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
	<div class="container">
		<div class="col6">
		  <div class="clearfix"></div>
			</div>
		</div>
		<div class="col6">
			<ul class="topnav">
				<li><a href="#"></a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>

	{% comment %} <div class="header-bottom">
		<div class="container">
			<ul class="bottomnav">
				<li class="active"><a class="fa fa-home"></i>  Home</a></li>
				<li><a class="fa fa-exclamation-circle"></i>  About</a></li>
				<li><a class="fa fa-gear"></i>  Our Services</a></li>
				<li><a class="fa fa-taxi"></i>  Our Vechicles</a></li>
				<li><a class="fa fa-gift"></i>  Packages</a></li>
				<li><a class="fa fa-map-marker"></i>  Contact</a></li>
			</ul>
			<button class="b-btn">Become a Driver</button>
			<div class="clearfix"></div> {% endcomment %}
		</div>
	</div>
</header> 


<section class="sec-1">
	<div class="container">
		
		{% comment %} <div class="card"> {% endcomment %}
			{% comment %} <div class="card-body"> {% endcomment %}
				<div class="text-center">
		{% comment %} <div class="col6"> {% endcomment %}
					<h1 class="heading"><B>LOOKING FOR A RIDE?</B></h1>
					<h1>CONNECT WITH PEOPLES </h1>
					<h1 class="heading"> CAR POOL</h1>
      				<h1><b>FIND RIDE BOOK RIDE</b></h1>
		 			<b><p>FIND PEOPLE TRAVELLING TO YOUR DESTINATION</p></b>
					 {% comment %} <div class="col16"> {% endcomment %}
						{% comment %} <img src="{% static 'image/texi.jpg' %} width="100" height:"100"> {% endcomment %}
						{% comment %} class="taxi-img"> {% endcomment %}
					</div>
			{% comment %} <button class="btn-r" style="margin:8px" href="{% url 'createride' %}" >CREATE RIDE NOW</button> {% endcomment %}
		</div>
		<br>
		<div class="clearfix"></div>
	</div>
{% comment %} </section>


<section class="sec-2">
	<div class="container">

		<h2 class="heading-2">How It Work</h2>
		<br>
		<div class="col3">
			<div class="box"> 
				<i class="fa fa-hand-o-up icon-1"></i>
			<h3>Create Your Ride</h3>
			<p>You can share your ride by createing a ride & share your journey with others. </p>
			</div>
		</div>
		<div class="col3">
			<div class="box">
				<i class="fa fa-automobile icon-1"></i>
			<h3>Find Ride</h3>
			<p>Find People who share similar journey and match criteria. </p>
			</div>
		</div>
		<div class="col3">
			<div class="box">
				<i class="fa fa-map-o icon-1"></i>
			<h3>Book Ride</h3>
			<p>Book your ride online in few clicks.</p>
			</div>
		</div>
		<div class="col3">
			<div class="box">
				<i class="fa fa-user icon-1"></i>
			<h3>That's ALL</h3>
			<p>Connect people & make new friends. </p>
			</div>
		</div>
		<div class="clearfix"></div> {% endcomment %}
{% comment %} 
	</div>
</section>	


<section class="sec-3">
	<br><br>
	<div class="container">
		<h2 class="heading-3">About us</h2>
		<div class="col6">
			<p class="p3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		
			</p>
			<br><br>
			<button class="btn-r">Read More</button>
		</div>
		<div class="col6">
			<img src="{% static 'image/texi-1.jpg' %}" style="width: 100%; margin-top: -100px;">
		</div>
		<div class="clearfix"></div>
	</div>
</section>
</section>
<footer class="footer-distributed">

<div class="footer-right">

<a class="fa fa-facebook"></i></a>
<a class="fa fa-twitter"></i></a>
<a class="fa fa-linkedin"></i></a>
<a class="fa fa-github"></i></a>

</div>
 
<div class="footer-left">
<p class="footer-links">
<a class="link-1" href="#">Home</a>
<a href="#">Blog</a>
<a href="#">About</a>
<a href="#">Contact</a>
</p>
<p>Carpool</p>
</div> {% endcomment %}

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



<script type="text/javascript">
	$('.bottomnav li').click(function(){
    $('.bottomnav li').removeClass("active");
    $(this).addClass("active");
});

	
</script>
</body>
</html>
{% endblock %}